body,
body[data-theme="light"] {
  --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-header: #ffffff;
  --color-bg-main: #fafafa;
  --color-bg-toggle-btn: #1e90ff;
  --color-element: #2b3945;
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-header: #2b3945;
  --color-bg-main: #202c37;
  --color-bg-toggle-btn: #a9a9a9;
  --color-element: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  background: var(--color-bg-main);
  color: var(--color-text-primary);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  transition: background 0.1s ease-in-out;
}

h1 {
  color: var(--color-text-secondary);
}

img {
  /* object-fit: cover; */
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.InfoContainer > p {
  margin: 0.5em 0;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-header);
  width: 400px;
  height: 40px;
  box-shadow: 0.5px 1px 6px 0.5px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.search-bar__input {
  background: url("../public/search2.svg") left no-repeat;
  padding-left: 2.8em;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  height: 100%;
  width: 100%;
}

::placeholder {
  font-family: "Nunito Sans", sans-serif;
  color: #838691;
}

.search-bar__submit-btn {
  display: none;
}

.search-bar__clear-btn {
  border: none;
  color: inherit;
  background: none;
}
